body{
    background-color: rgb(226, 221, 221);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{ 
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.post{ 
    background: white;
    margin-top: 50px;
}
div.post img{
    width: 100%;
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
}
div.post .post-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: rgb(226, 221, 221);
    margin-right: 15px;
}
h2{
    color: black;
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.container{
    width: 600px;
    margin: auto;
}

